body {
  background-color: #006600;
}

#table {
  background-image: url('table.png');
  background-size: 100%;
  width: 900px;
  height: 241px;
  // -webkit-transform:rotate(90deg) scale(0.7);
}

#wheel {
  width: 300px;
  height: 300px;
  background-image: url('wheel.jpeg');
  background-size: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1000px;
}

.chip {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 2px solid rgba(0,0,0,0.5);
}

.red .chip{
  background-color: #faa;
}
.blue .chip{
  background-color: #aaf;
}
.green .chip{
  background-color: #afa;
}

.brown .chip{
  background-color: #630;
}
.orange .chip{
  background-color: #f60;
}

